$color-primary: #F2762E;
$color-success: #00bf8e;
$color-warning: #f7c94b;

$color-danger: #F2762E;
$color-danger-variant: rgba(247, 88, 66, 0.4);

$color-white: #ffffff;
$color-light: rgba(255, 255, 255, 0.7);
$color-black: #000;

$color-bg: #1A3947;
$color-bg1: #0f4c5c;
$color-bg2: #566575;






